@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    background-color: #ddd;  
}

.users {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    
}

.users > div {
    margin: 2rem 1rem 2rem 1rem ;
    border: 0.5px solid rebeccapurple;
    background-color: rebeccapurple;
    border-radius: 10px;
    box-shadow: 0 0 4px rgb(68, 67, 67);
    font-size: 1rem;
}

img {
    display: inline-block;
    max-width: 100%;
    margin: 1rem;
}

#addUser {
    margin: 2rem 1rem 2rem 1rem ;
    border: 0.5px solid rebeccapurple;
    background-color: rebeccapurple;
    border-radius: 10px;
    box-shadow: 0 0 4px rgb(68, 67, 67);
    font-size: 1rem;
}

